# ==========================================
# Virtual environments
# ==========================================
.venv/
venv/
env/




# ==========================================
# Python
# ==========================================
__pycache__/
*.py[cod]
*$py.class





# ==========================================
# Environment variables
# ==========================================
.env
.env.*





# ==========================================
# IDEs
# ==========================================
.vscode/
.idea/