# ==========================================
# Virtual environments
# ==========================================
.venv/
venv/
env/




# ==========================================
# Python
# ==========================================
__pycache__/
*.py[cod]
*$py.class





# ==========================================
# Environment variables
# ==========================================
.env
.env.*





# ==========================================
# IDEs
# ==========================================
.vscode/
.idea/





# ==========================================
# Pytest runtime cache (NOT the config file)
# ==========================================
.pytest_cache/




# ==========================================
# Login Credentials
# ==========================================
auth/credentials.json